:root {
  //* Font Family

  --font-title: 'Lobster Two', cursive;
  --font-paragraph: 'Kanit', sans-serif;

  //* Colors
  --primary: #ff9000;
  --primary-darken: #ff7f11;
  --text-color: #2e282a;
  --secondary: #4ea5d9;
  --background: #f9f8f8;
}